<!-- app/views/home/soutenir.html.erb -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-4 text-success">Soutenir AnimauxCherchentMaison.com</h1>
      <p class="lead">Chaque geste compte pour offrir une nouvelle vie aux animaux dans le besoin.</p>
      <hr class="my-4">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4 text-center">
      <div class="card h-100">
        <%= image_tag 'VIER_PFOTEN.webp', alt: 'Bénévolat', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Devenir Bénévole</h5>
          <p class="card-text">
            Rejoignez notre équipe de bénévoles passionnés et aidez-nous à offrir une seconde chance aux animaux. Chaque minute de votre temps est précieuse.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="card h-100">
        <%= image_tag 'donation-immobiliere.jpg', alt: 'Donations', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Faire un Don</h5>
          <p class="card-text">
            Vos dons nous permettent de fournir des soins médicaux, de la nourriture, et un abri aux animaux dans le besoin. Chaque contribution fait une différence.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="card h-100">
        <%= image_tag 'triste.jpg', alt: 'Partager', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Partager</h5>
          <p class="card-text">
            Aidez-nous à sensibiliser le public en partageant notre mission avec vos amis et votre famille. Plus nous sommes nombreux, plus nous pouvons aider d'animaux.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <div class="bubble"> <!-- Ajout de la classe bubble ici -->
        <h2 class="mb-4">Pourquoi Nous Soutenir?</h2>
        <p>
          AnimauxCherchentMaison.com travaille sans relâche pour sauver et prendre soin des animaux abandonnés. Avec votre aide, nous pouvons continuer notre mission et offrir une seconde chance à ceux qui en ont le plus besoin.
        </p>
      </div>
    </div>
  </div>
</div>
