<!-- app/views/fishes/index.html.erb -->
<div class="container mt-5">
  <h1 class="text-center text-success my-5">Poissons Disponibles à l'Adoption</h1>
  <p class="no-availability-message">Pas de poissons disponibles</p>
</div>
